{% extends "shared/base.html" %}
{% load staticfiles %}

{% block extrahead %}
<style>
    .container {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}

<h1 class="scoreboard-header">
    Individual Scores
    <form action="{% url 'grading:scoreboard_students' %}" method="POST" class="recalculate right">
        {% csrf_token %}
        <input type="hidden" name="recalculate">
        <button type="submit" class="btn btn-primary save padded">Recalculate</button>
    </form>
</h1>


{% if error %}
<code>
{% autoescape off %}
    <span class="red">{{ error }}</span>
{% endautoescape %}
</code>
{% endif %}

<table class="scoreboard">
    <tr>
    {% for division, scores in individual_scores %}
        <td valign="top">
            <h2>{{ division|capfirst }} - Cumulative</h2>
            <table class="table table-striped">
                {% for name, score in scores %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="name">{{ name }}</td>
                        <td>{{ score|floatformat:3 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    {% endfor %}
    </tr>
</table>

{% for division, subjects in subject_scores %}
<h2 class="subject-header">{{ division|capfirst }} - Subject</h2>
<table class="scoreboard">
    <tr>
        {% for subject, scores in subjects %}
        <td valign="top">
            <h3>{{ subject }}</h3>
            <table class="table table-striped">
                {% for name, score in scores %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                    <td class="name">{{ name }}</td>
                    <td>{{ score|floatformat:3 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
        {% endfor %}
    </tr>
</table>
{% endfor %}

<code class="individual-debug">
Bonus:<br>
{{ individual_bonus }}
<br><br>
Powers:<br>
{{ individual_powers }}
</code>

{% endblock %}
