{% extends "shared/base.html" %}
{% load staticfiles %}
{% load grading_status %}
{% load attending %}

{% block extrahead %}
<style>body { overflow-y: scroll; }</style>
{% endblock %}

{% block content %}

<h1 class="grader-title">Students ({{ students.count }})</h1>
<p class="grader-switcher">Go to <a href="{% url 'grading:teams' %}">teams</a> &rarr;</p>

<div class="form-group">
    <input class="form-control" id="search" name="search" placeholder="search" oninput="update();">
</div>

<table id="students" class="students table table-striped table-hover">
    <tr>
        <th class="number">#</th>
        <th class="name">Name</th>
        <th class="division">Division</th>
        <th class="subject">Subject 1</th>
        <th class="subject">Subject 2</th>
    </tr>

    {% for student in students %}
        <tr>
            <td class="number">{{ forloop.counter }}</td>
            <td class="name">
                {{ student.get_full_name }} {% autoescape off %}{{ student|attending }}{% endautoescape %}<br>
                {{ student.team.school.name }}
            </td>
            <td class="division">{{ student.team.get_division_display|capfirst }}</td>
            <td class="subject">
                {% autoescape off %}
                {{ student|grading_status:"subject1" }}
                {% endautoescape %}
                ({{ student.subject1|upper }}) <br>
                <a href="{% url 'grading:score' grouping="individual" any_id=student.id round_id='subject1' %}">edit</a>
            </td>
            <td class="subject">
                {% autoescape off %}
                {{ student|grading_status:"subject2" }}
                {% endautoescape %}
                ({{ student.subject2|upper }}) <br>
                <a href="{% url 'grading:score' grouping="individual" any_id=student.id round_id='subject2' %}">edit</a>
            </td>
        </tr>
    {% endfor %}
</table>

<script type="text/javascript" src="{% static "js/grade.js" %}"></script>
{% endblock %}
