{% extends "shared/base.html" %}
{% load staticfiles %}

{% block content %}

<h1 class="lowerer">About Us</h1>

MBMT is proudly organized and executed entirely by students from the Montgomery Blair High School Math Team.

<h2>Contest Organizers</h2>

<div class="row organizers">
    {% for organizer in organizers %}
    <div class="col-md-3 col-xs-6 about-person">
        <!-- <img src="{{ MEDIA_URL }}{{ organizer.image }}"> -->
        <h3>{{ organizer.name }}</h3>
        <!-- <p>{{ organizer.role }}</p> -->
    </div>
    {% endfor %}
</div>

<h2>Problem Writers</h2>

<p>We're very thankful to our problem writers, without whom we wouldn't have a contest:</p>

<ul class="writers">
    {% for writer in writers %}
    <li>{{ writer.name }}</li>
    {% endfor %}
</ul>

<h2>Website</h2>

This website was developed by <a href="https://singerng.github.io/" target="_blank">Noah Singer '18</a>
(Github: <a href="https://github.com/singerng" target="_blank">@singerng</a>) and
<a href="https://noahbkim.com/" target="_blank">Noah Kim '18</a>
(Github: <a href="https://github.com/noahbkim" target="_blank">@noahbkim</a>).
It is currently maintained by <a href="https://github.com/zeyuanzhao" target="_blank">Alex Zhao '26</a>
(Github: <a href="https://github.com/zeyuanzhao" target="_blank">@zeyuanzhao</a>).
It's written in <a href="https://djangoproject.com">Django</a> and hosted on our school servers.
The source is on <a href="https://github.com/mbhs/mbmt">Github</a>.

<h2>Sponsors</h2>

<p>MBMT is sponsored by the Montgomery Blair Magnet Foundation, Wolfram Mathematica, Art of Problem Solving, MCPS Food & Nutrition Services, AwesomeMath, Jane Street, and LIVE by Po-Shen Loh.</p>

<div class="sponsors">
    <a href="http://www.mbhsmagnet.org/"><img src="{% static "images/magnet.jpg" %}" width="150px"></a>
    <a href="https://artofproblemsolving.com/"><img src="{% static "images/aopslogo.png" %}" style="margin-left: 1rem; width: 400px; max-width: 80vw;"></a>
    <a href="https://www.wolfram.com/"><img src="{% static "images/wolfram.png" %}" style="margin-left: 1rem; width: 200px; max-width: 80vw;"></a>
    <a href="https://janestreet.com"><img src="{% static "images/jane-street.png" %}" width="300px" style="margin-left: 1rem; max-width: 80vw;"></a>
    <a href="https://www.montgomeryschoolsmd.org/departments/food-and-nutrition/"><img src="{% static "images/mcpsfood.png" %}" style="margin-left: 1rem; width: 300px; max-width: 80vw;"></a>
    <a href="https://www.awesomemath.org/"><img src="{% static "images/amsp.png" %}" style="margin-left: 1rem; width: 200px; max-width: 80vw;"></a>
    <a href="https://live.poshenloh.com/"><img src="{% static "images/live.png" %}" style="margin-left: 1rem; width: 200px; max-width: 80vw;"></a>
</div>

{% endblock %}
