{% extends "shared/base.html" %}
{% load staticfiles %}

{% block content %}

<h1 class="lowerer">About Us</h1>

MBMT is proudly organized and executed entirely by students from the Montgomery Blair High School Math Team.

<h2>Contest Organizers</h2>

<div class="row organizers">
    {% for organizer in organizers %}
    <div class="col-md-3 col-xs-6 about-person">
        <!-- <img src="{{ MEDIA_URL }}{{ organizer.image }}"> -->
        <h3>{{ organizer.name }}</h3>
        <!-- <p>{{ organizer.role }}</p> -->
    </div>
    {% endfor %}
</div>

<h2>Problem Writers</h2>

<p>We're very thankful to our problem writers, without whom we wouldn't have a contest:</p>

<ul class="writers">
    {% for writer in writers %}
    <li>{{ writer.name }}</li>
    {% endfor %}
</ul>

<h2>Website</h2>

This website was developed by <a href="https://singerng.github.io/" target="_blank">Noah Singer '18</a>
(Github: <a href="https://github.com/singerng" target="_blank">@singerng</a>) and
<a href="https://noahbkim.com/" target="_blank">Noah Kim '18</a>
(Github: <a href="https://github.com/noahbkim" target="_blank">@noahbkim</a>).
It is currently maintained by <a href="https://www.vijayrs.com/" target="_blank">Vijay Shanmugam '23</a>
(Github: <a href="https://github.com/jbolt01" target="_blank">@jbolt01</a>).
It's written in <a href="https://djangoproject.com">Django</a> and hosted on our school servers.
The source is on <a href="https://github.com/mbhs/mbmt">Github</a>.

<h2>Sponsors</h2>

<p>MBMT is sponsored by the Montgomery Blair Magnet Foundation, Art of Problem Solving, Daily Challenge, MCPS Food & Nutrition Services, and StickerGiant.</p>

<div class="sponsors">
    <a href="http://www.mbhsmagnet.org/"><img src="{% static "images/magnet.jpg" %}" height="150px"></a>
    <a href="https://artofproblemsolving.com/"><img src="{% static "images/aops.png" %}" style="margin-left: 1rem;"></a>
    <a href="https://daily.poshenloh.com/"><img src="{% static "images/dailychallenge.png" %}" style="margin-left: 1rem;"></a>
    <a href="https://www.montgomeryschoolsmd.org/departments/food-and-nutrition/"><img src="{% static "images/mcpsfood.png" %}" style="margin-left: 1rem;"></a>
    <a href="https://www.stickergiant.com/"><img src="{% static "images/stickergiant.png" %}" style="margin-left: 1rem;"></a>
</div>

{% endblock %}
