{% extends "shared/base.html" %}

{% block menu %}
{% if request.user.is_authenticated %}
                    {% if perms.grading.can_grade %}
                        <li><a href="{% url "attendance" %}">Attendance</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Logistics <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "team_edit" %}">Team editor</a></li>
                                <li><a href="{% url "student_name_tags" %}">Student tags</a></li>
                                <li><a href="{% url "teacher_name_tags" %}">Teacher tags</a></li>
                                <li><a href="{% url "shirts" %}">Shirt sizes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Scoreboards <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "student_scoreboard" %}">Student scoreboard</a></li>
                                <li><a href="{% url "team_scoreboard" %}">Team scoreboard</a></li>
                                <li><a href="{% url "live" round_id="guts" %}">Live guts</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Grading <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "student_view" %}">Students</a></li>
                                <li><a href="{% url "team_view" %}">Teams</a></li>
                                <li><a href="{% url "statistics" %}">Statistics</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url "teams" %}">My Teams</a></li>
                    {% endif %}
                        <li><a href="{% url "logout" %}">Logout
                        </a></li>
                    {% else %}

                    {% endif %}
{% endblock %}