{% extends "shared/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<h2 class="lowererer">Sponsor Login</h2>

<form name="registration" data-toggle="validator" role="form" method="post">
    {% csrf_token %}
    <script src="{% static "js/validator.min.js" %}"></script>
    {% crispy form %}
    <div class="button-group bump-down">
        <input id="submit" type="submit" value="Finish" class="btn btn-primary right"/>
        <input id="cancel" type="button" value="Cancel" class="btn btn-secondary right" onclick="window.location = '{% url "home:index" %}';"/>
    </div>
</form>

{% endblock %}
