[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django-crispy-forms = "*"
django-picklefield = "==0.3.2"
pyyaml = "==5.1"
scipy = "*"
pillow = "*"
django = "==2.1.2"
gunicorn = "*"

[dev-packages]

