{% extends "shared/base.html" %}
{% load staticfiles %}
{% load grading_status %}

{% block extrahead %}
<style>body { overflow-y: scroll; }</style>
{% endblock %}

{% block content %}

<h1 class="grader-title">Teams ({{ total }})</h1>
<p class="grader-switcher">Go to <a href="{% url 'grading:students' %}">students</a> &rarr;</p>

<form name="search" method="get">
    <div class="form-group">
        <input class="form-control" id="search" name="search" placeholder="Search teams">
    </div>
</form>

<table id="teams" class="teams table table-striped table-hover">
    <tr>
        <th class="number">#</th>
        <th class="information">Info</th>
        <!--th class="students">Students</th-->
        <th class="division">Division</th>
        <th class="team">Team</th>
        <th class="guts">Guts</th>
    </tr>

    {% for team in teams %}
        <tr>
            <td class="number">{{ team.number }}</td>
            <td class="name">{{ team.name }} <br> <span class="italics">{{ team.school.name }}</span></td>
            <td class="division">{{ team.get_division_display|capfirst }}</td>
            <td class="team">
                {% autoescape off %}
                {{ team|grading_status:"team" }}
                {% endautoescape %}<br>
                <a href="{% url "grading:score" grouping="team" any_id=team.id round_id="team" %}">edit</a>
            </td>
            <td class="guts">
                {% autoescape off %}
                {{ team|grading_status:"guts" }}
                {% endautoescape %}<br>
                <a href="{% url "grading:score" grouping="team" any_id=team.id round_id="guts" %}">edit</a>
            </td>
        </tr>
    {% endfor %}
</table>

<nav class="paginator" aria-label="...">
    <ul class="pagination">
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link"
                {% if page_obj.has_previous %}
                href="?page={{ page_obj.previous_page_number }}"
                {% endif %} tabindex="-1">Previous</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
        </li>
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link"
               {% if page_obj.has_next %}
               href="?page={{ page_obj.next_page_number }}"
               {% endif %} tabindex="-1">Next</a>
        </li>
    </ul>
</nav>

<script type="text/javascript" src="{% static "js/grade.js" %}"></script>

{% endblock %}
