{% extends "home/../../../../home/templates/shared/base.html" %}
{% load staticfiles %}
{% load grading_status %}

{% block extrahead %}
<style>body { overflow-y: scroll; }</style>
{% endblock %}

{% block content %}

<h1 class="grader-title">Teams ({{ teams.count }})</h1>
<p class="grader-switcher">Go to <a href="{% url 'student_view' %}">students</a> &rarr;</p>

<div class="form-group">
    <input class="form-control" id="search" name="search" placeholder="search" oninput="update();">
</div>

<table id="teams" class="teams table table-striped table-hover">
    <tr>
        <th class="number">#</th>
        <th class="information">Info</th>
        <!--th class="students">Students</th-->
        <th class="division">Division</th>
        <th class="team">Team</th>
        <th class="guts">Guts</th>
    </tr>

    {% for team in teams %}
        <tr>
            <td class="number">{{ team.number }}</td>
            <td class="name">{{ team.name }} <br> <span class="italics">{{ team.school.name }}</span></td>
            <td class="division">{{ team.get_division_display|capfirst }}</td>
            <td class="team">
                {% autoescape off %}
                {{ team|grading_status:"team" }}
                {% endautoescape %}<br>
                <a href="{% url "score" grouping="team" id=team.id round="team" %}">edit</a>
            </td>
            <td class="guts">
                {% autoescape off %}
                {{ team|grading_status:"guts" }}
                {% endautoescape %}<br>
                <a href="{% url "score" grouping="team" id=team.id round="guts" %}">edit</a>
            </td>
        </tr>
    {% endfor %}
</table>

<script type="text/javascript" src="{% static "js/grade.js" %}"></script>
{% endblock %}
