{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>MBMT</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/master.css" %}">
        <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/email.js" %}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav id="menu" class="navbar navbar-default navbar-fixed-top navbar-xs">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "home:index" %}">MBMT</a>
                </div>
                <div class="collapse navbar-collapse" id="nav-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        {% block menu %}
                        <li><a href="{% url "home:info" %}">Info</a></li>
                        <li><a href="{% url "home:about" %}">About</a></li>
                        <li><a href="{% url "home:rules" %}">Rules</a></li>
                        <li><a href="{% url "home:archive" %}">Archive</a></li>
                        {% endblock %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><span class="navbar-text">{{ request.user.get_full_name }}</span></li>
                        {% block shortcuts %}
                        {% if user.is_authenticated %}
                        {% if user.is_staff %}
                        <li><a href="{% url "grading:index" %}">Overview</a></li>
                        <li><a href="{% url "grading:attendance" %}">Attendance</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Grading <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "grading:students" %}">Individuals</a></li>
                                <li><a href="{% url "grading:teams" %}">Teams</a></li>
                                <li><a href="{% url "grading:statistics" %}">Statistics</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Scoreboard <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "grading:scoreboard_students" %}">Individuals</a></li>
                                <li><a href="{% url "grading:scoreboard_teams" %}">Teams</a></li>
                                <li><a href="{% url "grading:live" "guts" %}">Live</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Logistics <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "grading:tags_students" %}">Student tags</a></li>
                                <li><a href="{% url "grading:tags_teachers" %}">Teacher tags</a></li>
                                <li><a href="{% url "grading:shirt_sizes" %}">Shirt sizes</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{% url "coaches:index" %}">Coaching</a></li>
                        {% endif %}
                        <li><a href="{% url "home:logout" %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url "coaches:register" %}">Register</a></li>
                        <li><a href="{% url "home:login" %}">Login</a></li>
                        {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div id="content" class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Copyright &copy; 2014-17 Montgomery Blair Math Team.</span>
            </div>
        </footer>
    </body>
</html>
