@media (min-width: 1200px) {
    .container { max-width: 940px; }
}

form { margin: 1.5em auto; }
label { display: block; }

label.name { 
    font-weight: normal;
    font-size: 20px; 
    margin-bottom: 0px;
    margin-top: 20px;
}

label.description {
    font-weight: normal;
    margin-bottom: 0px;
}

input {
    margin-top: 8px;
}

.right { float: right; }

#submit { width: 90px; }
#cancel { margin-right: 1em; width: 90px; }

.lower { margin-top: 1em; }
.lowerer { margin-top: 1.5em; }

.title { 
    text-align: center; 
    font-size: 56px; 
    margin-bottom: 0;
}

.tagline { 
    text-align: center; 
    font-size: 24px; 
    margin-top: 0; 
}

.center {
    max-width: 720px;
    text-align: center;
    margin: 2em auto;
}