{% extends "shared/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>Attendance</h1>
<div class="form-group">
    <input id="search" type="text" placeholder="Student name" class="form-control" oninput="update()">
</div>

<h2 class="bump-down">Present</h2>
<table id="present" class="table table-striped">
    <tr>
        <th class="name">Name</th>
        <th class="school">School</th>
        <th class="attending">Attending</th>
    </tr>
</table>

<h2 class="bump-down">Absent</h2>
<table id="absent" class="table table-striped">
    <tr>
        <th class="name">Name</th>
        <th class="school">School</th>
        <th class="attending">Attending</th>
    </tr>
</table>

<script type="text/javascript" src="{% static "js/attendance.js" %}"></script>

{% endblock %}
