{% extends "shared/base.html" %}
{% load staticfiles %}

{% block head %}
<style>
    #content { max-width: 100% !important; }
    .container { margin: 0; width: 100%; }
</style>
{% endblock %}

{% block content %}

<h1 class="scoreboard-header">
    MBMT Guts Round
    <span id="freeze" class="right" onclick="freeze()">Freeze!</span>
</h1>
<table class="scoreboard">
    <tr>
        <td valign="top">
            <h2>{{ divisions.0 }}</h2>
            <table class="table table-striped">
                <tbody id="{{ divisions.0 | lower }}1"></tbody>
            </table>
        </td>
        <td valign="top">
            <h2>&nbsp;</h2>
            <table class="table table-striped">
                <tbody id="{{ divisions.0 | lower }}2"></tbody>
            </table>
        </td>
        <td valign="top">
            <h2>{{ divisions.1 }}</h2>
            <table class="table table-striped">
                <tbody id="{{ divisions.1 | lower }}1"></tbody>
            </table>
        </td>
        <td valign="top">
            <h2>&nbsp;</h2>
            <table class="table table-striped">
                <tbody id="{{ divisions.1 | lower }}2"></tbody>
            </table>
        </td>
    </tr>
</table>

<script type="text/javascript" src="{% static "js/guts.js" %}"></script>
{% endblock %}
