{% extends "shared/base.html" %}
{% load staticfiles %}

{% block head %}
<style>
    #content { max-width: 100% !important; }
    .container { margin: 0; width: 100%; }
</style>
{% endblock %}

{% block content %}

<h1 class="scoreboard-header">
    MBMT Guts Round
    <span id="freeze" class="right" onclick="freeze()">Freeze!</span>
</h1>

<div class="flexible">
    <div>
        <h2>{{ divisions.0 }}</h2>
        <table class="table table-striped">
            <tbody id="{{ divisions.0 }}1" class="scoreboard-body"></tbody>
        </table>
    </div>
    <div>
        <h2>&nbsp;</h2>
        <table class="table table-striped">
            <tbody id="{{ divisions.0 }}2" class="scoreboard-body"></tbody>
        </table>
    </div>

    <div class="break"></div>
    <div>
        <h2>{{ divisions.1 }}</h2>
        <table class="table table-striped">
            <tbody id="{{ divisions.1 }}1" class="scoreboard-body"></tbody>
        </table>
    </div>
    <div>
        <h2>&nbsp;</h2>
        <table class="table table-striped">
            <tbody id="{{ divisions.1 }}2" class="scoreboard-body"></tbody>
        </table>
    </div>
</div>


<script type="text/javascript" src="{% static "js/guts.js" %}"></script>
{% endblock %}
