/*@media (min-width: 1200px) {*/
    /*.container { max-width: 940px; }*/
/*}*/

body {
    margin-bottom: 4em;
}

form { margin: 1.5em auto; }
label { display: block; }

label.name { 
    font-weight: normal;
    font-size: 20px; 
    margin-bottom: 0px;
    margin-top: 20px;
}

label.description {
    font-weight: normal;
    margin-bottom: 0px;
}

input {
    margin-top: 8px;
}

.right { float: right; }

#submit { width: 90px; }
#cancel { margin-right: 1em; width: 90px; }

.lower { margin-top: 1em; }
.lowerer { margin-top: 0.5em; }

.title { 
    text-align: center; 
    font-size: 56px; 
    margin-bottom: 0;
}

.tagline { 
    text-align: center; 
    font-size: 24px; 
    margin-top: 0; 
}

.center {
    max-width: 720px;
    text-align: center;
    margin: 2em auto;
}

.asteriskField {
    display: none;
}

ol.top > li {
    margin-top: 0.3em;
}

/* .red { color: red; } */

table.schedule {
    font-size: 14px;
}

table.schedule td {
    padding-top: 1px;
    padding-bottom: 1px;
}

table.schedule td:first-of-type {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
    text-align: right;
}

table.schedule td:last-of-type {
    padding-left: 10px;
}