<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MBMT</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/master.css">
    </head>
    <body>
        <h1 class="logo">MBMT</h1>
        <p class="tagline">The Montgomery Blair Mathematics Tournament<br>Coming April 22, 2017</p>
        <div class="content">
            <h2>About</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu quam diam. Vivamus felis lectus, aliquam posuere nisi vitae, rutrum efficitur orci. Nulla convallis, nunc et blandit faucibus, magna dolor posuere mi, a bibendum diam tortor vitae ante. Maecenas placerat purus risus, eu gravida mi condimentum eu. Vivamus mollis felis finibus ligula tristique finibus. Nulla ut ornare enim. In risus odio, congue a quam ut, scelerisque pretium metus. Vivamus ultricies libero tristique euismod mattis. Cras finibus sodales leo sed finibus. Integer ullamcorper massa nunc, accumsan tempus elit sollicitudin a.
            </p>
        </div>
    </body>
</html>
