{% extends "base.html" %}

{% block content %}

<h1 class="title lower">MBMT</h1>
<p class="tagline">Montgomery Blair Mathematics Tournament</p>
    
<p class="center">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et consequat purus, ac commodo elit. Phasellus fermentum consectetur tempus. Vestibulum blandit, nisl congue elementum sollicitudin, ligula lacus vulputate neque, nec tristique massa leo congue nibh. Nulla et egestas nibh. Aliquam et purus mi. Ut a mauris gravida, malesuada ligula tempus, iaculis est. Vivamus non varius felis. Morbi blandit orci ac augue rutrum mollis. Fusce et malesuada elit, ut auctor felis. Nullam maximus leo sed metus vestibulum, ut vulputate dui luctus. Proin ut sem et dui auctor tempor. Morbi dapibus congue arcu sit amet maximus. Sed sed sem eget tortor euismod fermentum vitae sit amet ipsum. Phasellus finibus dui nec ante suscipit porta. Donec porttitor rutrum nulla, at maximus orci porttitor nec. Aenean diam lectus, consectetur id tincidunt eu, ultrices in leo.
</p>

</div>

{% endblock %}
