{% extends "base.html" %}

{% block content %}

<h2 class="lowerer">Register for MBMT</h2>
<p>
Welcome to the 3rd Annual MBMT, held on April 22nd, 2017! On this form, you may officially register a single team for the competition. Good luck to all teams and hope to see you there!
</p>

<form name="registration" class="form-group">

    <label class="name">School Name</label>
    <input name="schoolName" type="text" class="form-control">
    
    <label class="name">Sponsor Name</label>
    <label class="description">We highly encourage schools' math team coaches or math resource department chairs to act as sponsors; however, any adult who is willing to supervise the team is fine.</label>
    <input name="schoolName" type="text" class="form-control">
    
</form>

{% endblock %}
