@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Lora';

body {
    margin: 4em auto;
    max-width: 720px;
    font-family: Open Sans;
}

h1, h2, h3 {
    font-family: Lora;
}

.logo, .tagline {
    width: 100%;
    text-align: center;
}

.logo {
    font-size: 72px;
    margin-bottom: 0;
}

.tagline {
    margin-top: 0;
}

.content {
    margin-top: 2em;
}

.content h2 { margin-bottom: 0; }
.content p { margin-top: 4px; }
