{% extends "base.html" %}

{% block content %}

<h2 class="lowerer">MBMT Registration</h2>
<p>MBMT is a team-based competition, and students will compete in teams of 5. Teams will compete either in Division A (Pascal) or Division B (Ramanujan). Division A is suggested for students with more practice in competitions, whereas Division B is geared towards students with less experience. There is no limit to the number of teams one school may send.</p>
<p>Coaches unsure of a suitable division for their Mathletes should consult Mr. Stein at David_O_Stein@mcpsmd.org. However, we will require that Takoma Park, Roberto Clemente, Chesapeake Math Program, and all Homeschoolers compete in Division A.</p>
<p>There should be at least one adult proctor or coach to come with each school or organization. We strongly suggest that the proctor be the sponsor of the school’s math team, but if this is not possible a parent or another staff member will be fine.</p>

{% endblock %}
