{% extends "base.html" %}

{% block content %}

<h1 class="lowerer">MBMT Official Contest Rules</h1>
<p>Welcome to the third annual Montgomery Blair Math Tournament (MBMT)! MBMT is a free middle school math contest that seeks to inspire students’ interest in mathematics and to encourage them to explore math beyond the school curriculum. This year, MBMT will be hosted at Montgomery Blair High School (MBHS) on April 1st, 2017. This page includes all the information about the competition. Contact information can be found on the <a href="/info"> information page</a>.</p>

<a name="registration"></a><h3>Registration</h3>
<ol class="top"> 
    <li>Participants in MBMT compete in teams of 5 (with some exceptions, discussed further in #4). The math team sponsors of each school/organization register individual student teams through the website via the <a href="/register">registration page</a>. There is no limit to the number of full teams a school or organization may send.</li>
    <li><b class="red">Subject Tests are specifically limited</b>. The goal of this policy is twofold: to make the subjects more competitive and balanced, and to perhaps introduce other topics of math not normally found in the classroom setting. More information about the Subject Tests can be found on the <a href="/topics">topics page</a>.</li>
    <ol>
        <li>Each full team of 5 will be required to have at least 2 tests per subject. For example, it is not allowed to have only one student on a team of 5 take the Algebra Subject Test.</li>
        <li>A team of 4 will be required to have at least 1 test per subject, but no more than 3 tests per subject.</li>
        <li>A team of 3 will only be required to have at least 1 test per subject.</li>
        <li>Teams of 1 or 2 have no restrictions; however, refer to rule #4 below for more information on teams of 1 or 2.</li>
    </ol>
    <li>Teams compete in 1 of <b>2 divisions</b>: Division A, “Pascal,” or Division B, “Ramanujan.” Division A is suggested for students with more practice in competitions, whereas Division B is geared towards students with less experience. To suit different students’ abilities, each division offer different sets of questions in <b>all rounds</b> (discussed further on the  <a href="/topics">topics page</a>).</li>
    <li>If there are fewer than 5 students interested in participating, you may register incomplete teams. For an incomplete team’s Team and Guts round scores to be officially considered, incomplete teams must have <b>at least 3 students</b>. Teams with one or two students may compete, but their Team and Guts round will not be officially graded.</li>
    <li>We <b>do not</b> allow mixed-school or mixed-organization teams. However, we do allow organizations consisting of students from multiple schools, home-school groups, and community activity groups, to name a few.</li>
    <li>We <b>do not</b> allow elementary school students to participate in MBMT. </li>
    <li>Finally, <b>any school or organization with students in grades 6-8 can register and attend</b>.</li>
</ol>

<a name="format"></a><h3>Round Format</h3>
<ol class="top">
    <li><b>The Subject Test round</b> consists of eight questions per subject with two subject tests and lasts thirty minutes. The subjects are <b>Algebra</b>, <b>Geometry</b>, <b>Counting and Probability</b>, and <b>Number Theory</b>.</li>
    <li><b>The Team round</b> contains fifteen questions for all team members to collaboratively solve in half an hour.</li>
    <li><b>The Guts round</b> is an intense but exciting round in which competing teams can see each others’ progress. It is 60 minutes long, is graded live, and requires each team to work together on progressively harder five-problem sets. Each new set is worth more points than the previous set. This year, <b class="red">different divisions will have different Guts round questions</b>. Note that <b>there are no benefits of turning in the last set early</b>. There are no bonus points for timing. Please also note that <b class="red">the weighting system for the later problems has been tweaked</b> to more accurately reflect difficulty.
    <li><b>The Fun round</b> is an exciting, new round consisting of several separate mini-events, including puzzles, trivia, and an estimation round.</li>
</ol>

<a name="notation"></a><h3>Important Notation</h3>
<ol class="top">
    <li><b>Sequence notation</b>: an denotes the <em>n</em><sup>th</sup> term of a sequence, where <em>n </em>is a positive integer. For example, in the sequence 1, 1, 2, 3, 5, &hellip;, a<sub>1</sub>=1, a<sub>2</sub>=1, a<sub>3</sub>=2, a<sub>4</sub>=3, and so on.</li>
    <li><b>Factorial notation</b>: n! refers to the product of all positive integers up through <em>n</em>. That is: n! = n(n-1)(n-2)&hellip;(2)(1). For example, 4! = 4&sdot;3&sdot;2&sdot;1 = 24.</li>
    <li><b>Ordered <em>n</em>-tuples</b>: Certain questions will ask for an answer as an ordered pair, ordered triple, or ordered 6-tuple. </li>
    <ul>
        <li>Ordered pairs: (<em>a</em>, <em>b</em>) </li>
        <li>Ordered triples: (<em>a</em>, <em>b</em>, <em>c</em>)</li>
        <li>Ordered 6-tuples: (<em>a</em>, <em>b</em>, <em>c</em>, <em>d</em>, <em>e</em>, <em>f</em>)</li>
        <li><em>a,</em> <em>b, c,</em> etc. are numbers. Any answer in the form of an ordered <em>n</em>-tuple MUST include the parentheses and commas.</li>
    </ul>
    <li><b>Lines in geometry</b>: if a question asks "compute AB" or states that "AB = 10", this refers to the length of line AB or the distance from A to B.</li>
</ol>

<a name="terminology"></a><h3>Important Terminology</h3>
<ol>
    <li>A circle is <b>inscribed</b> in a shape if it touches each side of the shape at one point and is inside the shape. A circle that is inscribed in a triangle is called the triangle's <b>incircle</b>. A circle is <b>circumscribed</b> about a shape if each vertex of the shape lies on the circle. A circle that is circumscribed about a triangle is called the triangle's <b>circumcircle</b>.</li>
    <li>The <b>multiples</b> of a number are the positive numbers that divide into it evenly. For example, the multiples of 3 are 3, 6, 9, 12, and so on. The <b>factors</b> or <b>divisors</b> of a number are the positive numbers that it divides into evenly. For example, the factors of 6 are 1, 2, 3, and 6.</li>
    <li>If two numbers or objects are selected <b>independently and at random</b>, this means that they are selected at random, and that how one is selected doesn't affect how the other is selected.</li>
    <li>A <b>real number</b> is a rational number or an irrational number. -1, 2.5, and &pi; are all real numbers. Unless you've learned about complex numbers, every number you know of is a real number.</li>
</ol>

<a name="answering"></a><h3>Answering Questions</h3>
<ol>
    <li>For fractional answers whose numerator and denominator are both integers, fractions should be written in simplified form. We do not accept mixed fractions.</li>
    <li>Rationalizing denominators is <strong>optional.</strong></li>
    <li>For short finite decimals, we accept both the fractional and the exact decimal form.</li>
    <li>For infinite or long finite decimals, we strongly prefer the fractional form. However, bar notation for repeating infinite decimals is accepted.</li>
    <li>For questions requesting the answer in terms of variables, use the variables as defined in the problem.</li>
    <li>"Divisors" refers to positive integral divisors unless otherwise specified.</li>
    <li>If a question specifies an answer form, such as a + b*sqrt(2), please adhere to the specified form.</li>
</ol>

<a name="awards"></a><h3>Scoring and Awards</h3>
<ol>
<li>A student&rsquo;s <strong>overall individual score</strong> is the weighted sum of the two subject tests that they have taken. The <strong>top 8 individuals</strong> in each division will be recognized, and the <strong>top 5 </strong>will receive medals.</li>
<li>Students are also ranked individually in the subject tests. The <strong>top 3 individuals</strong> of each subject test in each division are recognized. These scores are calculated through a method that accounts for test item difficulty and normalizes the scores between tests.</li>
<li>High-placement ties will be broken using tiebreaker rounds. Tiebreaker rounds will be held in the grading room during the activity.</li>
<li>The <strong>team score</strong> is a weighted sum of the individual, Team Round, and Guts Round scores. The <strong>top 5 teams</strong> in each division will be recognized.</li>
<li>The highest scoring 6th grade student in the Pascal division will receive the <strong>Eric Walstein Award</strong>, in honor of Mr. Eric Walstein, former math teacher and math team coach at Blair.</li>
</ol>

{% endblock %}
