/***********/
/* Imports */
/***********/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Slabo+27px');
@font-face {
  font-family: 'Neoneon';
  src: url('/static/fonts/Neoneon.otf');
}


/*******************/
/* Universal rules */
/*******************/

:root {
  --primary-color: #BF1D1C;
  --font-color: black;
  --bg-color: white;
  --footer-bg-color: #cccccc;
}

[data-theme="dark"] {
  --primary-color: #BF1D1C;
  --font-color: white;
  --bg-color: #121212;
  --footer-bg-color: #262727;
}

body {
  font-family: 'Helvetica', serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.dark-mode {
    background-color: #121212;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica 27px', sans-serif;
}

h2, h3, h4, h5, h6 { color: var(--primary-color); }

h1 {
    margin-left: 0.5em;
}

#menu {
  margin-bottom: 0;
  padding-bottom: 0;
}

#content {
  /*padding-top: 1em;*/
  max-width: 980px;
  padding-top: 65px;
  padding-bottom: 75px;
}

.container {
  padding-top: -50px;
  min-height: 100%;
}

form { margin: 1.5em auto; }
label { display: block; }

label.name {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 20px;
}

label.description {
  font-weight: normal;
  margin-bottom: 0;
}

input[type="text"], select {
  margin-top: 8px;
}

.bump-down {
  display: block;
  padding-top: 8px;
}

.right { float: right; }

#submit { width: 90px; }
#cancel { margin-right: 1em; width: 90px; }

.lower { margin-top: 1rem; }
.lowerer { margin-top: 3rem; }
.lowererer { margin-top: 1.5rem; }

.sponsor-scoreboard {
  font-size: 20px;
}

.under {
  margin-top: -8px;
  margin-bottom: 20px;
  font-size: 20px;
}

footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;

  line-height: 50px;
  background-color: #ccc;
  text-align: center;
  width: 100%;
}



/**************/
/* Title page */
/**************/

h1.title {
  font-size: calc(1.5em + 7vw);
  text-align: center;
  padding: .2em;
  padding-bottom: 0;
  margin: 0;
  user-select: none;
  font-family: 'Neoneon', sans-serif;
}

.title-date {
    display: flex;
    justify-content: center;
}

.title-date .line { width: 120px; max-width: 30vw; }

.title-date .main-text { margin: 0 1em; padding: 0; }

span.title-left {
  background-color: #ba2222;
  color: lightgray;
  padding: 0 .2em;
  border-radius: .2em 0 0 .2em;
}

span.title-right {
  background-color: lightgray;
  color: #ba2222;
  padding: 0 .2em;
  border-radius: 0 .2em .2em 0;
}

p.main-title {
  font-family: "Slabo 27px", serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 0;
}

p.main-text {
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 340px;
  padding-bottom: 2em;
}

.tagline {
  text-align: center;
  font-size: 24px;
  margin-top: 0;
}

.asteriskField {
  display: none;
}

ol.top > li {
  margin-top: 0.3em;
}

.btn-register {
  width: 40%;
  display: block;
  height: 2em;
  vertical-align: middle;
  font-size: 3em;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #ba2222;
}


/********************/
/* Information page */
/********************/

table.schedule {
  font-size: 14px;
  margin-bottom: 1rem;
}

table.schedule td {
  padding-top: 1px;
  padding-bottom: 1px;
}

table.schedule td:first-of-type {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid black;
  text-align: right;
}

table.schedule td:last-of-type {
  padding-left: 10px;
}


/**************/
/* About page */
/**************/

.organizers {
  margin-top: 8px;
}

div.about-person img {
  border-radius: 50%;
  width: 100%;
}

.about-person > h3 {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 4px;
}

.about-person > p {
  margin-top: 0;
  text-align: center;
}

ul.writers {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 5;
  list-style-type: none;
  padding-left: 0;
}

ul.writers > li {
  text-align: center;
}

.sponsors {
  margin-bottom: 2rem;
}

/***********/
/* Coaches */
/***********/

form input.typeahead {
  margin-top: 2px;
}

.bs-searchbox > .form-control {
  margin-top: 0;
}

.gone {
  display: none;
}

.table tr:first-of-type {
  background-color: #f9f9f9;
}

.fancy-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.fancy-group .team-name { flex: 3; padding-right: 0.75em;  }
.fancy-group .team-division { flex: 1; padding-left: 0.25em; }

.fancy-group.columns-2 > div { flex: 1; }
.fancy-group.columns-2 > div:first-child { padding-right: 0.5em; }
.fancy-group.columns-2 > div:last-child { padding-left: 0.5em; }

.fancy-group .student-subject1, .fancy-group .student-subject2 {
  flex: 1;
}

.fancy-group .student-shirt-size {
  flex: 2;
}

.student-form {
  margin-bottom: 1.5em;
}

.team-form {
  margin-bottom: 1.5em;
}

.student-form h3 {
  margin-top: 0;
  margin-bottom: 1em;
}

form.student-form, form.team-form {
  margin-bottom: 6em;
}

/***********/
/* Grading */
/***********/

table#teams, table#chaperones {
  margin-top: 1em;
}

table#chaperones td:last-child {
  width: 1%;
  white-space: nowrap;
}

table#teams ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

table#teams .name {
  max-width: 40%;
  word-break: break-all;
  word-wrap: break-word;
}

table .subject {
  width: 120px;
}

table.students .number,
table.teams .number { width: 50px; }

table.students .subject,
table.students .division,
table.teams .team,
table.teams .guts,
table.teams .division { width: 130px; }

@media(max-width: 1460px) {
  .break { display: block; height: 10px; }
}

.break { flex: 0; }

table.attendance a {
  cursor: pointer;
}

.flexible {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 100%;
}

.flexible div {
  max-width: 24%;
  width: 24%;
}

#loading {
  color: gray;
}

.paginator {
  text-align: center;
}

span.newline {
  display: block;
}

.save { width: 100%; }

.grading .round {
  padding-top: 0.5em;
  margin: 0;
}

.grading .team {
  padding-bottom: 0.25em;
  font-size: 20px;
}

table#students .team-name {
  max-width: 400px;
  text-overflow: ellipsis;
}

table#tags {
  width: 100%;
  border-collapse: collapse;
}

table#tags th {
  text-align: left;
}

table#tags td {
  border: 1px solid black;
  padding: 2px;
}

.grading .grader { width: 50%; }
.grading .grader td.question-number {
  text-align: right;
  padding: 8px;
  width: 40px;
  vertical-align: middle;
}

.grading .grader td {
  padding: 0;
  margin: 0;
}

.grading .grader {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.note {
  color: gray;
  font-style: italic;
  padding-top: 0;
}

.grading .grader td label {
  padding: 8px;
  display: inline-block;
  margin-left: 20px;
  border: 0;
  margin-bottom: 0;
}

.grading .grader td input[type="radio"] {
  border: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 1.2em;
  height: 1.2em;
}
.grading .grader td input[type="number"] {
  margin: 0;
  margin-left: 20px;
  font-size: 12px;
}
.grading .grader td.help {
  vertical-align: middle;
}

.grader-title { margin-bottom: 0; }
.grader-switcher { font-size: 20px; margin-bottom: 1em; }


/***************/
/* Scoreboard. */
/***************/

.scoreboard h2, .scoreboard h3 {
  margin-top: 0;
}

.recalculate {
  display: inline-block;
  margin: 0;
  margin-top: 6px;
}

.scoreboard {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
  vertical-align: top;
}

.scoreboard > tbody > tr > td { padding: 0 10px; }
.scoreboard > tbody > tr > td:first-of-type { padding-left: 0; }
.scoreboard > tbody > tr > td:last-of-type { padding-right: 0; }

.scoreboard div {
  display: inline-block;
  flex-grow: 1;
}

.scoreboard div.spacer {
  width: 20px;
  flex-grow: 0;
}

.scoreboard td.team {
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  min-width: 280px;
  max-width: 280px;
}

.scoreboard td.name {
  width: 99%;
}

.individual-debug {
  margin-bottom: 30px;
  display: block;
}


.italics { font-style: italic; }
.gray { color: gray; }
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0;
}
.red { color: red; }

#freeze {
  display: inline-block;
  color: gray;
  cursor: pointer;
}

.line {
    height: 3px;
    background-color: var(--primary-color);
    width: 400px;
    max-width: 90vw;
    margin-top: 1em;
    margin-bottom: 1em;
}

/**********/
/* NavBar */
/**********/

nav {
    border-color: var(--primary-color) !important;
    border-bottom-width: 3px !important;
}
nav .container-fluid {
    padding: 0;
    background-color: #262727;
}

.navbar-brand {
    margin-left: 0 !important;
}

.navbar-right {
    margin-right: 0 !important;
}

nav a {
    color: white !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

/**********/
/* Footer */
/**********/

footer {
    background-color: var(--footer-bg-color);
}
