{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script>
    function back() {
        {% if mode == "student" %}
        window.location.href = "{% url "grade_students" %}";
        {% elif mode == "team" %}
        window.location.href = "{% url "grade_teams" %}";
        {% endif %}
    }
</script>

<form class="grading" action="#" method="post">
    <h1 class="round">{{ round.name }}</h1>
    <p class="team">{{ name }} ({{ division }})</p>

    <table class="grader table">
        {% csrf_token %}
    {% for question, answer in question_answer %}
        <tr class="question">
            <td class="qlabel">{{ question.label }}</td>
            <td>
            {% if question.get_type_display == "correct" %}
                <input type="radio" name="{{ question.id }}" value="1" {% if answer.value == 1 %} checked {% endif %}>
                <input type="radio" name="{{ question.id }}" value="0" {% if answer.value == 0 %} checked {% endif %}>
                <input type="radio" name="{{ question.id }}" value="" {% if answer.value is None %} checked {% endif %}>
                {% if forloop.counter == 1 %}
                    <span class="gray">Correct | Incorrect | Ungraded</span>
                {% endif %}
            {% elif question.get_type_display == "estimation" %}
                <input type="number" step="any" name="{{ question.id }}" value="{{ answer.value|default:"" }}">
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn" style="margin-left: 10px;" onclick="back()">Back</button>
</form>

{% endblock %}
