{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script>
    function back() {
        {% if mode == "student" %}
        window.location.href = "{% url "grade_students" %}";
        {% elif mode == "team" %}
        window.location.href = "{% url "grade_teams" %}";
        {% endif %}
    }
</script>

<form class="grading" action="#" method="post">
    <h1 class="round">{{ round.name }}</h1>
    <p class="team">{{ name }} ({{ division }})</p>

    <table class="grader table">
        {% csrf_token %}
    {% for question, answer in question_answer %}
        <tr class="question">
            <td class="qlabel">{{ question.label }}</td>
            <td>
            {% if question.get_type_display == "correct" %}
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-success {% if answer.value == 1 %} active {% endif %}">
                    <input type="radio" name="{{ question.id }}" value="1" autocomplete="off" {% if answer.value == 1 %} checked {% endif %}> &#10004;
                  </label>
                  <label class="btn btn-danger {% if answer.value == 0 %} active {% endif %}">
                    <input type="radio" name="{{ question.id }}" value="2" autocomplete="off"> {% if answer.value == 0 %} checked {% endif %}> &#10006;
                  </label>
                  <label class="btn btn-primary {% if answer.value == None %} active {% endif %}">
                    <input type="radio" name="{{ question.id }}" value="" autocomplete="off" {% if answer.value == None %} checked {% endif %}> &#10067;
                  </label>
                </div>

                {% if forloop.counter == 1 %}
                    <span class="gray">Correct | Incorrect | Unanswered</span>
                {% endif %}
            {% elif question.get_type_display == "estimation" %}
                <input type="number" step="any" name="{{ question.id }}" value="{{ answer.value|default:"" }}">
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn" style="margin-left: 10px;" onclick="back()">Back</button>
</form>

{% endblock %}
