{% extends "base.html" %}
{% load staticfiles %}

{% block extrahead %}
<style>
    .container {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}

<h1 class="scoreboard-header">
    MBMT Guts Round
    <span id="freeze" class="right" onclick="freeze()">Freeze!</span>
</h1>
<table class="scoreboard">
    <tr>
        <td valign="top">
            <h2>Ramanujan</h2>
            <table class="table table-striped">
                <tbody id="ramanujan1"></tbody>
            </table>
        </td>
        <td valign="top">
            <h2>&nbsp;</h2>
            <table class="table table-striped">
                <tbody id="ramanujan2"></tbody>
            </table>
        </td>
        <td valign="top">
            <h2>Pascal</h2>
            <table class="table table-striped">
                <tbody id="pascal1"></tbody>
            </table>
        </td>
        <td valign="top">
            <h2>&nbsp;</h2>
            <table class="table table-striped">
                <tbody id="pascal2"></tbody>
            </table>
        </td>
    </tr>
</table>

<script type="text/javascript" src="{% static "js/guts.js" %}"></script>
{% endblock %}
