{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<form action="{% url 'scoreboard' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="recalculate">
    <button type="submit" class="btn btn-primary save">Recalculate</button>
</form>
<code>
{% if error %}
    {% autoescape off %}
        <span class="red">{{ error }}</span>
    {% endautoescape %}
{% endif %}
</code>
<table class="divisions">
    <tr>
        <td valign="top">
            <h2>Individual - Ramanujan</h2>
            <table class="table table-striped">
                {% for name, score in individual_scores.ramanujan %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="team">{{ name }}</td>
                        <td>{{ score|floatformat:3 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
        <td valign="top">
            <h2>Individual - Pascal</h2>
            <table class="table table-striped">
                {% for name, score in individual_scores.pascal %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="team">{{ name }}</td>
                        <td>{{ score|floatformat:3 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <h2>Team - Ramanujan</h2>
            <table class="table table-striped">
                {% for name, score in team_scores.ramanujan %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="team">{{ name }}</td>
                        <td>{{ score|floatformat:3 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
        <td valign="top">
            <h2>Team - Pascal</h2>
            <table class="table table-striped">
                {% for name, score in team_scores.pascal %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="team">{{ name }}</td>
                        <td>{{ score|floatformat:3 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
{% endblock %}
