<html>
    <head>
        <title>Name tags</title>
        <link rel="stylesheet" type="text/css" href="/static/css/master.css">
    </head>
    <body>
        <table id="tags">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>School</th>
                <th>Teams</th>
            </tr>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.school.name }}</td>
                <td>{{ teacher.school.teams.count }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
