{% extends "base.html" %}
{% load staticfiles %}

{% block extrahead %}
<style>
    .container {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}

<h1 class="scoreboard-header">
    Team Scores
    <form action="{% url 'team_scoreboard' %}" method="POST" class="recalculate right">
        {% csrf_token %}
        <input type="hidden" name="recalculate">
        <button type="submit" class="btn btn-primary save padded">Recalculate</button>
    </form>
</h1>


{% if error %}
<code>
{% autoescape off %}
    <span class="red">{{ error }}</span>
{% endautoescape %}
</code>
{% endif %}

<table class="scoreboard">
    <tr valign="top">
        {% for division, scores in team_scores %}
        <td>
            <h2>{{ division|capfirst }}</h2>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Team</th>
                    <th>Guts</th>
                    <th>Team</th>
                    <th>Overall</th>
                </tr>
                {% for name, guts, guts_z, team, team_z, overall in scores %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="team">{{ name }}</td>
                        <td>{{ guts|floatformat:3 }}<br>{{ guts_z|floatformat:3 }}</td>
                        <td>{{ team|floatformat:3 }}<br>{{ team_z|floatformat:3 }}</td>
                        <td>{{ overall|floatformat:3 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    {% endfor %}
    </tr>
</table>



{% endblock %}
