{% extends "base.html" %}

{% block content %}
<form action="{% url "attendance" %}" method="post">
    {% csrf_token %}
    <button type="submit" class="save btn btn-primary">Save</button>
    <table id="attendance" class="attendance table table-striped">
        <tr>
            <th class="attending">&nbsp;?</th>
            <th class="name" colspan="5">Name</th>
        </tr>
        {% for row in students %}
            <tr>
            {% for student in row %}
                <td class="attending">
                    <input name="{{ student.id }}" type="hidden" value="1">
                    <input name="{{ student.id }}" type="checkbox" value="0" {% if student.attending %}checked{% endif %}>
                </td>
                <td class="name">{{ student.name }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <button type="submit" class="save btn btn-primary">Save</button>
</form>

{% endblock %}
