{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="form-group">
    <label for="search">Search:</label>
    <input class="form-control" id="search" name="search" oninput="update();">
</div>

<br/>

<div>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#students" aria-controls="students" role="tab" data-toggle="tab">
                Students
                ({{ students.count }})
            </a>
        </li>
        <li role="presentation">
            <a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">
                Teams
                ({{ teams.count }})
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="students">
            <table class="table table-striped table-hover">
                <tr class="students">
                    <th class="number">#</th>
                    <th class="name">Name</th>
                    <th class="">Info</th>
                    <!--th class="team">Team</th-->
                    <th class="subject">Subject 1</th>
                    <th class="subject">Subject 2</th>
                </tr>

                {% for student in students %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.team.name }} <br><span class="italics">{{ student.team.school.name }}</span></td>
                        <td class="subject">{{ student.score1.args }} ({{ student.subject1|upper }}) <br> <a href="{% url 'score' type='subject1' id=student.id %}">edit</a></td>
                        <td class="subject">{{ student.score2.args }} ({{ student.subject2|upper }}) <br> <a href="{% url 'score' type='subject2' id=student.id %}">edit</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="teams">
            <table class="table table-striped table-hover">
                <tr class="teams">
                    <th class="number">#</th>
                    <th class="">Info</th>
                    <th class="division">Division</th>
                    <th class="team">Team</th>
                    <th class="guts">Guts</th>
                </tr>

                {% for team in teams %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ team.name }} <br> <span class="italics">{{ team.school.name }}</span></td>
                        <td>{{ team.division_name }}</td>
                        <td><br><a href="{% url 'score' type='team' id=team.id %}">edit</a></td>
                        <td><br><a href="{% url 'score' type='guts' id=team.id %}">edit</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>

<script type="text/javascript" src="{% static "js/grade.js" %}"></script>
{% endblock %}
