{% extends "base.html" %}

{% block content %}

<h2 class="lowerer">MBMT Official Contest Rules</h2>
<p>
Welcome to the third annual Montgomery Blair Math Tournament (MBMT)! MBMT is a free middle school math contest that seeks to inspire students’ interest in mathematics and to encourage them to explore math beyond the school curriculum. This year, MBMT will be hosted at Montgomery Blair High School (MBHS) on April 22, 2017. This packet includes all the information about the competition, as well as contact information in case you have additional questions.
</p>

<h3>Registration</h3>
<ol> 
    <li>Participants in MBMT compete in teams of 5 (with some exceptions, discussed further in IIb, IId). The math team sponsors of each school/organization register individual student teams through the Official Registration Form sent in a previous email. There is no limit to the number of full teams a school or organization may send.</li>
    <li><b>Limits on the number of subject tests</b> - the goal of this policy is twofold: to make the subjects more competitive and balanced, and to perhaps introduce other topics of math not normally found in the classroom setting. More information about the subject tests can be found in section IIIa.</li>
    <ol>
        <li>Each full team of 5 will be required to have at least 2 tests per subject. For example, it is not allowed to have only one student on a team of 5 take the Algebra subject test.</li>
        <li>A team of 4 will be required to have at least 1 test per subject, but no more than 3 tests per subject.</li>
        <li>A team of 3 will only be required to have at least 1 test per subject.</li>
        <li>Teams of 1 or 2 have no restrictions; however, refer to section IId. for more information on teams of 1 or 2.</li>
    </ol>
    <li>Teams compete in 1 of <b>2 divisions</b>: Division A, “Pascal,” or Division B, “Ramanujan.” Division A is suggested for students with more practice in competitions, whereas Division B is geared towards students with less experience. To suit different students’ abilities, each division offer different sets of questions in <b>all rounds</b> (discussed further in Section III).</li>
    <li>If there are fewer than 5 students interested in participating, you may register incomplete teams. For an incomplete team’s Team and Guts Round scores to be officially considered, incomplete teams must have <b>at least 3 students</b>. Teams with one or two students may compete, but their Team and Guts Round will not be officially graded. As with the previous two years, <b>we do not</b> allow organizations to register both a complete and an incomplete team in the same division.</li>
    <li>We <b>do not</b> allow mixed-school or mixed-organization teams. However, we do allow organizations consisting of students from multiple schools, home-school groups, and community activity groups to name a few.</li>
    <li>We <b>do not</b> allow elementary school students to participate in MBMT. </li>
    <li>Finally, <b>any school or organization with students in grades 6-8 can register and attend</b>.</li>
</ol>


{% endblock %}
