{% extends "base.html" %}

{% block content %}

<h2 class="lowerer"><strong>{{ request.user.school.name }}</strong>&nbsp;&nbsp;Teams</h2>

<table id="teams" class="table">
    <tr style="background-color: #f9f9f9;">
        <th>Name</th>
        <th>Members</th>
        <th>Tests</th>
        <th>Shirt Sizes</th>
    </tr>
    {% for team in request.user.school.teams.all %}
    <tr>
        <td>
            {{ team.name }}{% if not team.division %} (Please select a division!){% endif %}<br>
            <a href="{% url 'edit_team' team.id %}">Edit</a> |
            <a href="{% url 'remove_team' team.id %}">Remove</a>
        </td>
        <td>
            <ul>
                {% for student in team.students.all %}
                <li>
                    {{ student.name }}
                </li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul>
                {% for student in team.students.all %}
                <li>
                    {{ student.get_subject1_display }}, {{ student.get_subject2_display }}
                </li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul>
                {% for student in team.students.all %}
                <li>
                    {{ student.get_size_display }}
                </li>
                {% endfor %}
            </ul>
        </td>    </tr>
    {% endfor %}
    <tr>
        <td><a href="{% url 'edit_team' %}">+ Add Team</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

{% endblock %}
