{% extends "base.html" %}

{% block content %}

<h1 class="lowerer">Competition Topics</h1>

<p>While all of the following topics will likely be tested on the competition, the bolded topics are most likely to appear. We have divided the topics into our subject test categories.</p>

<h2>Algebra</h2>
<ul>
    <li><strong>Linear equations</strong></li>
    <li>Sequences and series</li>
    <li><strong>Exponents</strong></li>
    <li><strong>FOILing</strong></li>
    <li><strong>Quadratic equations and expressions</strong></li>
    <li>Rational root theorem</li>
    <li><strong>Vieta's formulas</strong></li>
    <li>Arithmetic and geometric mean</li>
</ul>

<h2>Geometry</h2>
<ul>
    <li><strong>Basic area and volume formulas</strong></li>
    <li><strong>Pythagorean theorem</strong></li>
    <li><strong>Similar and congruent triangles</strong></li>
    <li>Cyclic and circumscribed quadrilaterals</li>
    <li><strong>Basic geometry theorems</strong></li>
    <li>Coordinate geometry</li>
    <li>Triangle components</li>
    <li>Specialized triangle area formulas</li>
    <li>Area formulas</li>
    <li>Heron's formula</li>
</ul>

<h2>Counting and Probability</h2>
<ul>
    <li><strong>Combinations and permutations</strong></li>
    <li>Complementary counting</li>
    <li>Conditional probability</li>
    <li><strong>Probability rules</strong></li>
    <li>Stars and bars</li>
    <li>Expected value</li>
    <li>Recursion</li>
</ul>

<h2>Number Theory</h2>
<ul>
    <li><strong>Prime numbers and prime factorization</strong></li>
    <li>Divisibility rules</li>
    <li><strong>Modular arithmetic</strong></li>
    <li>Factorials</li>
    <li>Base changes</li>
    <li>Fraction to decimal conversion</li>
</ul>

{% endblock %}