{% extends "shared/base.html" %}

{% block content %}

<h1 class="lowerer">{{ school.name }}</h1>
<p class="under">{{ competition.name }}</p>

{% if now.date > competition.date %}
<a href="{% url "grading:sponsor_scoreboard" %}" class="sponsor-scoreboard">Go to scoring &rarr;</a>
{% endif %}

<h2>Teams</h2>
{% for team in school.current_teams %}

{% empty %}
No teams have been added yet!
{% endfor %}

<h2>Chaperones</h2>
{% for chaperone in school.current_chaperones %}

{% empty %}
No chaperones have been added yet!
{% endfor %}

{% endblock %}
