{% extends "shared/base.html" %}

{% block content %}

<h1 class="lowerer">{{ school.name }}</h1>
<p class="under">{{ competition.name }}</p>

{% if now.date > competition.date %}
<a href="{% url "grading:sponsor_scoreboard" %}" class="sponsor-scoreboard">Go to scoring &rarr;</a>
{% endif %}

<h2>Chaperones</h2>
<table id="chaperones" class="table">
    <tr><th>Name</th><th>Email</th><th>Phone Number</th><th>Shirt Size</th></tr>
    {% for chaperone in school.current_chaperones %}

    {% endfor %}
    <tr>
        <td colspan="5">
            {% if competition.can_edit_teams %}
            <a href="{% url "coaches:teams_edit" %}">+ Add Chaperone</a>
            {% endif %}
        </td>
    </tr>
</table>

<h2>Teams</h2>
<table id="teams" class="table">
    <tr><th>Name</th><th>Students</th><th>Subject Tests</th><th>Shirt Sizes</th></tr>
    {% for team in school.current_teams %}
    <tr>
        <td>
            {{ team.name }}<br>
            {{ team.get_division_display|capfirst }}
            {% if competition.can_edit_teams %}
            <br>
            <a href="{% url "coaches:teams_edit" team.id %}">Edit</a> |
            <a href="{% url "coaches:teams_remove" team.id %}">Remove</a>
            {% endif %}
        </td>
        <td>
            <ul>
                {% for student in team.students.all %}
                <li>{{ student.full_name }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul>
                {% for student in team.students.all %}
                <li>{{ student.get_subject1_display }}, {{ student.get_subject2_display }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul>
                {% for student in team.students.all %}
                <li>{{ student.get_shirt_size_display }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5">
            {% if competition.can_edit_teams %}
            <a href="{% url "coaches:teams_edit" %}">+ Add Team</a>
            {% endif %}
        </td>
    </tr>
</table>


{% endblock %}
