{% extends "shared/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<script src="{% static "js/validator.min.js" %}"></script>
<script src="{% static "js/typeahead.bundle.min.js" %}"></script>
<script src="{% static "js/mcms.js" %}"></script>
<script type="text/javascript">
    var schools = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: SCHOOLS
    });
</script>
<link type="text/css" rel="stylesheet" href="{% static "css/bootstrap-typeahead.css" %}">
{% endblock %}


{% block content %}

<h2 class="lower">Sponsor Registration</h2>
<p>
    Welcome to the 3rd annual MBMT, held on April 1st, 2017!
    We highly encourage schools' math team coaches or math resource department chairs to act as sponsors; however, any adult who is willing to supervise the team is fine.
</p>

{% if competition.can_register %}
<form name="registration" data-toggle="validator" role="form" method="post">
    {% crispy form %}
    <script type="text/javascript">
        $("#school").typeahead({hint: true, highlight: true, minLength: 1}, {name: "school", source: schools})
    </script>
    <div class="button-group bump-down">
        <input id="submit" type="submit" value="Finish" class="btn btn-primary right"/>
        <a id="cancel" class="btn btn-link right" href="{% url "home:index" %}">Cancel</a>
    </div>
</form>
{% else %}
<p>At the moment, registration is closed! Please email <script type="text/javascript">email("mbhsmathteam", "gmail.com")</script> for more information.</p>
{% endif %}

{% endblock %}
