{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h2 class="lower">Sponsor Registration for MBMT</h2>
<p>
Welcome to the 3rd Annual MBMT, held on April 1st, 2017! We highly encourage schools' math team coaches or math resource department chairs to act as sponsors; however, any adult who is willing to supervise the team is fine.
</p>

{% if allow_registration %}
<form name="registration" data-toggle="validator" role="form" method="post">
    <script src="/static/js/validator.min.js"></script>

    {% crispy form %}
    
    <div class="form-group">
        <input id="submit" type="submit" value="Finish" class="btn btn-primary right"/>
        <input id="cancel" type="button" value="Cancel" class="btn btn-secondary right" onclick="window.location = '{% url 'index' %}';"/>
    </div>
</form>
{% else %}
<p>
    Sorry, registration is closed! Please email
    <script type="text/javascript">email("mbhsmathteam", "gmail.com")</script> for more information.
</p>
{% endif %}

{% endblock %}
