{% extends "shared/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% static "js/validator.min.js" %}"></script>
{% endblock %}


{% block content %}

<h2 class="lower">Team Registration</h2>
{% if competition.can_register %}
<p>
    Welcome to MBMT X, held on {{ competition.date }}!
    We highly encourage schools' math team coaches or math resource department chairs to act as sponsors; however, any adult who is willing to supervise the team is fine.

    <br /><br />

    Here is the <a href="https://docs.google.com/forms/d/e/1FAIpQLSfu8Tg62xWakoTbrH-mklJ8NayFL4_o5giGuTsBlcq4RD-e5A/viewform">registration form</a> for this year!
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfu8Tg62xWakoTbrH-mklJ8NayFL4_o5giGuTsBlcq4RD-e5A/viewform?embedded=true" width="640" height="6218" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></p>
<!-- <form name="registration" data-toggle="validator" role="form" method="post"> -->
<!--     {% crispy form %} -->
<!--     <div class="button-group bump-down"> -->
<!--         <input id="submit" type="submit" value="Finish" class="btn btn-primary right"/> -->
<!--         <input id="cancel" type="button" value="Cancel" class="btn btn-secondary right" onclick="window.location = '{% url "home:index" %}';"/> -->
<!--     </div> -->
<!-- </form> -->
{% else %}
<p>
    At the moment, registration is closed.
    If you would still like to register teams, please email the contest runners at <script type="text/javascript">email("mbhsmathteam", "gmail.com")</script>.
</p>
{% endif %}
{% endblock %}
