{% extends "shared/base.html" %}

{% block content %}

<h2 class="lowerer"><strong>{{ request.user.school.name }}</strong>&nbsp;&nbsp;Teams</h2>
<p class="fullname">{{ request.user.get_full_name }}</p>

<a href="{% url "grading:sponsor_scoreboard" %}" class="sponsor-scoreboard">Go to scoring &rarr;</a>

<table id="teams" class="table">
    <tr style="background-color: #f9f9f9;">
        <th>Name</th>
        <th>Students</th>
        <th>Subject Tests</th>
        <th>Shirt Sizes</th>
    </tr>
    {% for team in request.user.school.teams.all %}
    <tr>
        <td>
            {{ team.name }}
            {% if not team.division %}
                (Please select a division!)
            {% else %}
                <br>{{ team.get_division_display|capfirst }}
            {% endif %}
            {% if allow_add_teams %}
            <br>
            <a href="{% url "coaches:edit_team" team.id %}">Edit</a> |
            <a href="{% url "coaches:remove_team" team.id %}">Remove</a>
            {% endif %}
        </td>
        <td>
            <ul>
                {% for student in team.students.all %}
                <li>
                    {{ student.name }}
                </li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul>
                {% for student in team.students.all %}
                <li>
                    {{ student.get_subject1_display }}, {{ student.get_subject2_display }}
                </li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul>
                {% for student in team.students.all %}
                <li>
                    {{ student.get_size_display }}
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            {% if allow_edit_teams %}
                <a href="{% url "coaches:edit_team" %}">+ Add Team</a>
            {% endif %}
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

{% endblock %}
