{% extends "shared/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% static "js/validator.min.js" %}"></script>
{% endblock %}

{% block content %}

<h1 class="lowerer">{{ school.name }}</h1>
<p class="under">{{ competition.name }}</p>

<h2>Team Editor</h2>

For a complete explanation regarding what team compositions are allowed, see the <a href="{% url "home:rules" %}" target="_blank">Rules</a>.

{% if student_forms.non_form_errors %}
<br/><br/>
<div class="alert alert-danger">{{ student_forms.non_form_errors }}</div>
{% endif %}

<form name="registration" data-toggle="validator" role="form" method="post">
    <div class="form-group fancy-team">
        <div class="team-name">
            <label style="width: 100%">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Official Team Name" required="required">
        </div>
        <div class="team-division">
            {{ team_form.division|as_crispy_field }}
        </div>
    </div>

    {{ student_forms.management_form|crispy }}
    {% for form in student_forms %}
        <h3>Student {{ forloop.counter }}</h3>
        {% crispy form student_helper %}
    {% endfor %}

    <div class="form-group">
        <input id="submit" type="submit" value="Finish" class="btn btn-primary right"/>
        <input id="cancel" type="button" value="Cancel" class="btn btn-secondary right" onclick="window.location = {% url "coaches:index" %};"/>
    </div>
</form>

{% endblock %}
