{% extends "home/../../../home/templates/shared/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<h2 class="lowerer">Edit Team</h2>

For a complete explanation regarding what team compositions are allowed, see the <a href="{% url 'rules' %}#registration">Rules</a>.

{% if student_forms.non_form_errors %}
    <br/><br/>
    <div class="alert alert-danger">{{ student_forms.non_form_errors }}</div>
{% endif %}

<form name="registration" data-toggle="validator" role="form" method="post">
    {% crispy team_form %}

    {{ student_forms.management_form|crispy }}
    {% for form in student_forms %}
        <h3>Student {{ forloop.counter }}</h3>
        {% crispy form student_helper %}
    {% endfor %}

    <div class="form-group">
        <input id="submit" type="submit" value="Finish" class="btn btn-primary right"/>
        <input id="cancel" type="button" value="Cancel" class="btn btn-secondary right" onclick="window.location = {% url 'teams' %};"/>
    </div>
</form>

{% endblock %}
